.contenido{
    padding-top: 90px;
    padding-left: 90px;
}

/*! SECCION PARA TODO  */
.alerta{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.alerta strong i{
    margin-right: 10px;
}

.fondo-modal{
    background-color: #c4ac9f;
}

.boton-guardar{
    background-color: #c4ac9f;
    transition: .3s ease;
}

.boton-guardar:hover{
    background-color: #b49d91;
}

/*! SECCION USUARIO  */

.botonAgregar{
    display: flex;
    justify-content: end;
}

.botonAgregar a{
    background-color: #1cc78d;
    color: #fff;
}

.botonAgregar a:hover{
    background-color: #23a97c;
    color: #fff;
}

.tabla-usuarios{
    margin-top: 10px;
}

.tabla-background{
    background-color: #c4ac9f;
}

.accion{
    display: flex;
}

.botonEditar{
    margin-right: 5px;
}


/*! SECCION SERVICIOS DE HABITACIONES  */

.buscadorInput{
    display: flex;
    justify-content: end;
}

.buscador{
    width: 250px;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.filtro{
    display: none;
}