body {
    background-color: #f8f9fa;
}

.contenido {
    padding-top: 90px;
    padding-left: 90px;
}

/*! SECCION PARA TODO  */

.tabla-background {
    background-color: #c4ac9f;
}

.alerta {
    position: absolute;
    top: 90px;
    right: 0;
}

.alerta strong i {
    margin-right: 10px;
}

.fondo-modal {
    background-color: #c4ac9f;
}

.boton-guardar {
    background-color: #c4ac9f;
    transition: .3s ease;
}

.boton-guardar:hover {
    background-color: #b49d91;
}

.buscBntAgr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.botonAgregar{
    height: 50px;
    line-height: 50px;
}

.botonAgregar a {
    margin-top: 5px;
    background-color: #1cc78d;
    color: #fff;
    box-shadow: 0px 1px 2px #1cc78d;
}

.botonAgregar a:hover {
    background-color: #23a97c;
    color: #fff;
}

.buscador {
    width: 250px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.filtro {
    display: none;
}

.paginacion {
    display: none;
}

.paginacionTabla {
    display: flex;
    justify-content: space-between;
}

.colorBtn {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    transition: .5s ease;
}

.colorBtn:hover {
    background-color: #c3c3c3;
}

.inforPaginacion {
    font-size: 12px;
}

/*! SECCION USUARIO  */

.tabla-usuarios {
    margin-top: 10px;
}

.accion {
    display: flex;
}

.botonEditar {
    margin-right: 5px;
}


/*! SECCION SERVICIOS DE HABITACIONES  */

.buscadorInputServicios{
    display: flex;
    justify-content: end;
}


/*! SECCION DE REGISTRO TIPOS DE HABITACIONES  */

.tituloPrincipal{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    background-color: #c4ac9f;
    padding: 10px;
}

.tituloServicios{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    background-color: #c4ac9f;
    padding: 15px;
}

.tituloServicios i{
    font-size: 22px;
}

.tituloServicios .checkSpan{
    font-size: 12px;
}

#mensajeErrorServicio{
    color: red;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

#mensajeErrorServicio.activoMensajeErrorServicio{
    display: block;
}

.formularioRegTipoHabi{
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
}

.inputPeque{
    width: 140px;
}

.formularioRegTipoHabi h2{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding: 2px;
    margin-bottom: 20px;
}

.serviciosHabitaciones{
    background-color: #fff;
    border: 1px solid #c4ac9f;
}

.serviciosCheck{
    max-height: 401px;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.ocularIdServi{
    display: none;
}

.serviciosCheck label{
    margin-left: 20px;
    cursor: pointer;
}

.serviciosCheck input{
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.editServiciosBtn{
    position: absolute;
    right: 30px;
    font-size: 15px;
}

.botonRegServi{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonRegServi .btnServicio{
    width: 80%;
    height: 40px;
    background-color: #c4ac9f;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.botonRgServicio{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.botonRgServicio .btnInputSubmit{
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.botonRgServicio .btnInputSubmit:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/*! ESTILOS DEL INPUT CHECKBOX  */
.form-check-input:checked {
    background-color: #000;
    border-color: #000;
    box-shadow: none;
}

.form-check-input[type=checkbox]{
    box-shadow: none;
    border-color: #000;
}

/*! ESTILOS DE MENSAJES DE ERROR Y VALIDACION DEL FORMULARIO  */

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.inputError{
    border-color: red;
    box-shadow: 0 0 2px red;
}

.formularioMensaje{
    margin-top: 20px;
    background-color: #f66060;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    display: none;
}

.formularioMensaje.activoMensaje{
    display: block;
}

.formularioMensaje i{
    margin-right: 5px;
}


/*! SECCION LISTADO TIPOS DE HABITACIONES */

.lisTiposHb h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

.cardHabitacion{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px;
    grid-gap: 20px;
}

.cardHab{
    width: 300px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: transform .3s ease;
}

.cardHab:hover{
    transform: scale(1.03);
}

.imgHab{
    width: 100%;
    height: 100%;
}

.imgHab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cardHab .tipoHab{
    position: absolute;
    inset: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.cardHab .tipoHab button{
    margin-top: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

/** Estilos a mostrarTipoHabitaciones  */

.contenidoTipoHab{
    padding: 15px;
}

.contenidoTipoHab .nombreTipo{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contenidoTipoHab .inforTipHo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 30px;
}

.contenidoTipoHab h2{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.contenidoTipoHab .inforTipHo p{
    margin-right: 40px;
    font-size: 15px;
}

.contenidoTipoHab .precioTipo{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 30px;
}

.contenidoTipoHab .precioTipo p{
    margin-right: 40px;
    font-size: 15px;
}

.contenidoTipoHab .serviciosTipo{
    font-size: 15px;
    margin: 20px 0 20px 30px;
}

.imagenesTipos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 30px;
}

.imagenesTipos .listImg{
    width: 220px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.imagenesTipos .listImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {
    .contenido {
        padding-top: 80px;
        padding-left: 0;
    }
}