body{
    background-color: #f2f2f5;
}

main{
    margin-top: 130px;
}

.rowPrincipal{
    padding: 10px;
}

.col-informacion{
    margin-right: 10px;
    padding: 10px;
}

.card-infor-reserva{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c6ceda;
    background-color: #fff;
}

.imagenes{
    width: 100%;
    height: 100%;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.informacion{
    padding: 8px;
}

.habitacion h1{
    margin-top: 10px;
    font-size: 20px;
}

.servicios{
    margin-top: 5px;
    margin-bottom: 10px;
}

.servicios p{
    margin-bottom: 0;
    font-size: 14px;
}

.servicios p span{
    font-weight: bold;
}

.descripcion p{
    font-size: 14px;
}

.col-factura{
    padding: 10px;
}

.facturaReserva{
    position: sticky;
    top: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c6ceda;
    background-color: #fff;
    margin-bottom: 30px;
}

.totalReserva{
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.totalReserva .precioTotal{
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.fechaHospedaje{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.detallesFactura{
    margin-left: 10px;
}

.btnAbrirDetalles{
    margin-bottom: 10px;
}

.btnAbrirDetalles span{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}

.flechaDetalles.active{
    transform: rotate(180deg);
}

.inforDetalles .fechasCheck{
    margin-top: 10px;
}

.inforDetalles .fechasCheck p{
    font-size: 14px;
    margin-bottom: 5px;
}

.inforDetalles .inforHab{
    margin-top: 10px;
    border-top: 1px solid #cdcdcd;
}

.inforDetalles .inforHab p{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.inforDetalles .inforHab p span{
    font-size: 14px;
}

.inforDetalles .totalFactura{
    margin-top: 10px;
    border-top: 1px solid #cdcdcd;
}

.inforDetalles .totalFactura p{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.formularioReserva{
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c6ceda;
}

.formularioReserva h2{
    border-bottom: 1px solid #cdcdcd;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.formularioReserva form{
    padding-left: 10px;
}

.formularioReserva .btnReservar{
    display: flex;
    justify-content: center;
}

.formularioReserva .btnReservar input{
    padding: 10px 30px;
    background-color: #9d8076;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: .3s ease;
}

.formularioReserva .btnReservar input:hover{
    background-color: #866d65;
}

.msjAlert{
    font-size: 12px;
    margin-bottom: 0;
}

@media only screen and (max-width: 684px) {

    .col-informacion{
        width: 100%;
    }

    .responsive-col-img{
        display: none;
    }

}