body {
    background-color: #f8f9fa;
}

.contenido {
    padding-top: 90px;
    padding-left: 90px;
}

/*! SECCION PARA TODO  */

.tabla-background {
    background-color: #c4ac9f;
}

.alerta {
    position: fixed;
    top: 90px;
    right: 0;
}

.alerta strong i {
    margin-right: 10px;
}

.fondo-modal {
    background-color: #c4ac9f;
}

.boton-guardar {
    background-color: #c4ac9f;
    transition: .3s ease;
}

.boton-guardar:hover {
    background-color: #b49d91;
}

.buscBntAgr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.botonAgregar{
    height: 50px;
    line-height: 50px;
}

.botonAgregar a {
    margin-top: 5px;
    background-color: #1cc78d;
    color: #000;
    box-shadow: 0px 1px 2px #1cc78d;
}

.botonAgregar a:hover {
    background-color: #23a97c;
    color: #000;
}

/* .buscador {
    width: 250px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.filtro {
    display: none;
}

.paginacion {
    display: none;
}

.paginacionTabla {
    display: flex;
    justify-content: space-between;
}

.colorBtn {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    transition: .5s ease;
}

.colorBtn:hover {
    background-color: #c3c3c3;
}

.inforPaginacion {
    font-size: 12px;
}
 */


 /*! ESTILOS AL DATATABLE  */

.dataTables_length{
    margin-bottom: 20px;
}

.botonActualizar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #c4ac9f;
    border: none;
    border-radius: 5px;
    transition: .3s ease;
}

.botonActualizar:hover{
    background-color: #b49d91;
    border: none;
    transition: .3s ease;
}

/*! SECCION USUARIO  */

.tabla-usuarios {
    margin-top: 10px;
}

.accion {
    display: flex;
}

.botonEditar {
    margin-right: 5px;
}


/*! SECCION SERVICIOS DE HABITACIONES  */

/* .buscadorInputServicios{
    display: flex;
    justify-content: end;
}
 */

/*! SECCION DE REGISTRO TIPOS DE HABITACIONES  */

.tituloPrincipal{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    background-color: #c4ac9f;
    padding: 10px;
}

.tituloServicios{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    background-color: #c4ac9f;
    padding: 15px;
}

.tituloServicios i{
    font-size: 22px;
}

.tituloServicios .checkSpan{
    font-size: 12px;
}

#mensajeErrorServicio{
    color: red;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

#mensajeErrorServicio.activoMensajeErrorServicio{
    display: block;
}

.formularioRegTipoHabi{
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
}

.inputPeque{
    width: 140px;
}

.formularioRegTipoHabi h2{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding: 2px;
    margin-bottom: 20px;
}

.serviciosHabitaciones{
    background-color: #fff;
    border: 1px solid #c4ac9f;
}

.serviciosCheck{
    max-height: 401px;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.ocularIdServi{
    display: none;
}

.serviciosCheck label{
    margin-left: 20px;
    cursor: pointer;
}

.serviciosCheck input{
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.editServiciosBtn{
    position: absolute;
    right: 30px;
    font-size: 15px;
}

.botonRegServi{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonRegServi .btnServicio{
    width: 80%;
    height: 40px;
    background-color: #c4ac9f;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.botonRgServicio{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.botonRgServicio .btnInputSubmit{
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
}

.botonRgServicio .btnInputSubmit:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/*! ESTILOS DEL INPUT CHECKBOX  */
.form-check-input:checked {
    background-color: #000;
    border-color: #000;
    box-shadow: none;
}

.form-check-input[type=checkbox]{
    box-shadow: none;
    border-color: #000;
}

/*! ESTILOS DE MENSAJES DE ERROR Y VALIDACION DEL FORMULARIO  */

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.inputError{
    border-color: red;
    box-shadow: 0 0 2px red;
}

.formularioMensaje{
    margin-top: 20px;
    background-color: #f66060;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    display: none;
}

.formularioMensaje.activoMensaje{
    display: block;
}

.formularioMensaje i{
    margin-right: 5px;
}


/*! SECCION LISTADO TIPOS DE HABITACIONES */

.lisTiposHb h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

.cardHabitacion{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px;
    grid-gap: 20px;
}

.cardHab{
    width: 300px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    position: relative;
    transition: transform .3s ease;
}

.cardHab:hover{
    transform: scale(1.03);
}

.imgHab{
    width: 100%;
    height: 100%;
}

.imgHab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cardHab .tipoHab{
    position: absolute;
    inset: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.cardHab .tipoHab .nombreTipo{
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.cardHab .tipoHab button{
    margin-top: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

/** Estilos a mostrarTipoHabitaciones  */

.contenidoTipoHab{
    padding: 15px;
}

.contenidoTipoHab .nombreTipo{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contenidoTipoHab .inforTipHo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 30px;
}

.contenidoTipoHab h2{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.contenidoTipoHab .inforTipHo p{
    margin-right: 40px;
    font-size: 15px;
}

.contenidoTipoHab .precioTipo{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 30px;
}

.contenidoTipoHab .precioTipo p{
    margin-right: 40px;
    font-size: 15px;
}

.contenidoTipoHab .serviciosTipo{
    font-size: 15px;
    margin: 20px 0 20px 30px;
}

.imagenesTipos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 30px;
}

.imagenesTipos .listImg{
    width: 220px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.imagenesTipos .listImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*! ESTILOS PARA LA SECCION DE EDITAR DE TIPOS DE HABITACIONES  */

.cardFotos{
    padding: 14px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 12px;
    width: 640px;
    height: 100%;
    margin-bottom: 50px;
}


.cardFotos h2{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding: 2px;
    margin-bottom: 20px;
}

.actImg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.listImg2{
    width: 160px;
    height: 120px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s ease;
}

.listImg2:hover{
    transform: scale(1.1);
    position: relative;
}

.listImg2:hover:after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
 }

 .listImg2:hover:after{
    content: 'Editar';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
 }

.listImg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/** ESTILOS A mostrarImgTipo  */

.mostrarImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imagenTipo{
    width: 180px;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
}

.imagenTipo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#formActImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputFileImg{
    width: 350px;
    margin-bottom: 20px;
}

.btnInputs{
    display: flex;
}

.btnElmImg{
    padding: 8px;
    margin-right: 15px;
    background-color: #f66060;
    border: none;
    border-radius: 5px;
    transition: .3s ease;
}

.btnElmImg:hover{
    background-color: #cd4b4b;
}

.btnActImg{
    padding: 8px;
    background-color: #c4ac9f;
    border: none;
    border-radius: 5px;
    transition: .3s ease;
}

.btnActImg:hover{
    background-color: #8c7b71;
}


/*! ESTILOS PARA LA SECCION DE AÑADIR IMAGEN  */

.addFoto{
    width: 160px;
    height: 120px;
    margin: 20px;
    border: 2px dashed #4863A0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.addFoto i{
    margin-top: 20px;
    color: #4863A0;
    font-size: 25px;
}

.addFoto label{
    color: #4863A0;
    font-size: 18px;
    cursor: pointer;
}

#addImg{
    display: none;
}

#btnAddImg{
    display: none;
}


/*! ESTILOS EN SERVICIOS DE LOS TIPOS DE HABITACIONES  */

.listaServTipo{
    margin: 0;
    padding: 0  ;
}

.listaServTipo li{
    list-style: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.listaServTipo li span{
    margin-left: 20px;
}

.listaServTipo li form button{
    margin-right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.listaServTipo .btnAñadirServ{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaServTipo .btnAñadirServ button{
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #c4ac9f;
}

/*! Estilos para la seccion de mostrar en el modal los servicios "mostrarServicios"  */

.contenServicios{
    display: flex;
    justify-content: center;
}

.contenServicios form{
    width: 90%;
    height: 100%;
}

.contenServicios form legend{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenServicios .listServicios{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contenServicios .listServicios input{
    width: 50px;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
}

.contenServicios .listServicios label{
    font-size: 17px;
    cursor: pointer;
}

.btnAñadirServicio{
    display: flex;
    justify-content: center;
}

.btnAñadirServicio input{
    width: 80px;
    height: 38px;
    line-height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    transition: .3s ease;
    background-color: #c4ac9f;
}

.btnAñadirServicio input:hover{
    background-color: #b49d91;
}

/*! ESTILOS PARA LA SECCION DE HABITACIONES  */

.btnBuscador{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnBuscador input{
    width: 250px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.btnBuscador span{
    background-color: #1cc78d;
    border: none;
    box-shadow: 0px 1px 2px #1cc78d;
    color: #000;
}

.btnBuscador span:hover{
    background-color: #23a97c;
    color: #000;
}

.botones-Config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones-Config form button{
    margin-left: 5px;
}

#msjErrorTipoCama{
    font-size: 10px;
    font-weight: bold;
    color: #f66060;
    display: none;
}

#msjErrorTipoCama2{
    font-size: 10px;
    font-weight: bold;
    color: #f66060;
    display: none;
}

.dataTables_wrapper{
    margin-bottom: 90px;
}

/** MODAL DE REGISTRO DE HABITACIONES  */

.mensajeCantidad {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 996px) {
    .contenedorFila{
        display: block;
    }

    .responsive-informacion{
        width: 100%;
    }

    .responsiveGestion{
        width: 100%;
        margin-bottom: 20px;
    }


    .responsiveServicios{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
    }

    .respisive-row-fotos{
        width: 100%;
        margin: 0;
    }

    .responsive-card-fotos{
        width: 100%;
    }

    .listImg2{
        width: 130px;
        height: 90px;
    }

    .addFoto{
        width: 130px;
        height: 90px;
    }

    .addFoto i{
        margin-top: 15px;
        font-size: 20px;
    }

    .addFoto label{
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .contenido {
        padding-top: 80px;
        padding-left: 0;
    }
}

@media only screen and (max-width: 470px){

    /* Responsive registro tipo de habitaciones */

    .responsiveRowInput{
        display: block;
    }

    .responsiveRowInput input{
        width: 100%;
    }

    .responsiveInput{
        width: 100%;
    }


    .botonRgServicio .btnInputSubmit{
        margin-top: 20px;
        width: 100%;
    }

    .modal-dialog {
        z-index: 1000;
        max-height: 90vh;
    }

    .dataTables_length label{
        display: none;
    }

    .dataTables_filter{
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
    }

    .dataTables_info{
        display: none;
    }

    .lisTiposHb h1{
        margin-top: 10px;
    }

    .cardHabitacion{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHab{
        width: 100%;
    }

    /* ESTILOS FOTOS */
    .respisive-row-fotos{
        width: 100%;
    }

    .responsive-card-fotos{
        width: 100%;
    }

    .cardFotos{
        margin-left: 0;
    }

    .listImg2{
        width: 130px;
        height: 90px;
    }

    .addFoto{
        width: 130px;
        height: 90px;
    }

    .addFoto i{
        margin-top: 15px;
        font-size: 20px;
    }

    .addFoto label{
        font-size: 15px;
    }


}

@media only screen and (max-width: 470px){

    .listImg2{
        width: 100%;
        height: 200px;
    }

    .addFoto{
        width: 100%;
        height: 200px;
    }

    .addFoto i{
        margin-top: 20px;
        font-size: 25px;
    }

    .addFoto label{
        font-size: 18px;
    }


}