.cabecera{
    padding: 15px 30px !important;
}

main {
    margin-top: 110px;
}

.fondo-modal {
    background-color: #c4ac9f;
}

.boton-guardar {
    background-color: #c4ac9f;
    transition: .3s ease;
}

.boton-guardar:hover {
    background-color: #b49d91;
}

.verContraseña2 {
    cursor: pointer;
    color: #555;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.verContraseña {
    cursor: pointer;
    color: #555;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.msjVerificacion {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    display: none;
    background-color: #f66060;
}

.contenedorPrincipal {
    margin-bottom: 200px;
}

.contenedorPrincipal h1 {
    font-size: 35px;
    margin-bottom: 0px !important;
}

.cardDatos {
    padding: 18px;
    background-color: #D8C6BC;
    border: 1px solid #cfcece;
    margin-bottom: 20px;
}

.tituloConfig i {
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #F6F1F1;
}

.tituloConfig{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.iconoCard {
    margin-top: 30px;
    margin-left: 8px;
}

.iconoCard i {
    margin-top: 40px;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #f3f3f3;
}

.tituloConfig span{
    margin-left: 10px;
}

.datos {
    padding: 8px;
}

.datos h2 {
    font-size: 20px;
}

.datos p {
    font-size: 14px;
    margin: 0;
}

.datos a {
    text-decoration: none;
    font-size: 14px;
}

.btnGestion{
    font-size: 14px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 5px;
    color: #000;
    background-color: #C2A596;
}

.btnGestionSeg{
    font-size: 14px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #C2A596;
}

.pSeguridad{
    padding-bottom: 12px;
}

.datoSeguridad{
    margin-left: 20px;
}

.formularioInput {
    background-color: #fff !important;
    border: 1.5px solid #bdb9b9 !important;
}

.select2-container {
    height: 38px;
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 100%;
    border: 1.5px solid #bdb9b9 !important;
    background-color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 20px;
}


.btn-elm-cuenta {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #0d6efd;
}

.btn-elm-cuenta:hover {
    text-decoration: underline;
    font-size: 14px;
    color: #0a58ca;
}

/* SECCION DE RESERVAS REALIZADAS */

.tabla-background {
    background-color: #9d8076;
}


/* ESTILOS PARA LA SECCION DE LAS RESERVAS REALIZADAS */

.cotenedorCard{
    display: flex;
    flex-wrap: wrap;
}

.cardReserva{
    margin-top: 20px;
    margin-left: 20px;
    width: 350px;
    border-radius: 5px;
    background-color: #d8c6bc;
}

.imgHabitacion{
    width: 100%;
    height: 180px;
}

.imgHabitacion img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacionCard{
    padding: 20px 30px;
}

.inforHabitacion h2{
    font-size: 16px;
}

.inforHabitacion span{
    display: block;
    font-size: 14px;
}

.inforReserva{
    margin-top: 10px;
}

.inforReserva span{
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.inforReserva .totalReserva{
    margin-top: 5px;
}

.inforReserva .totalReserva span{
    font-size: 16px;
}

.estadoReserva{
    margin: 10px 0;
    border: 1px solid #000;
    padding: 5px;
}

.estadoReserva span{
    font-weight: normal;
}

.botonCancelReserva .btnCancel{
    font-size: 14px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: .3s ease;
    background-color: #c2a597;
}

.botonCancelReserva .btnCancel:hover{
    background-color: #968278;
}

.filtrosReserva{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.colFechaFiltro form{
    display: inline-block;
    margin-bottom: 10px;
}

.colFechaFiltro form > div {
    display: inline-block;
    margin-right: 10px;
}

.btnFitrarFecha{
    border: none;
    background-color: #c2a597;
    transition: .3s ease;
}

.btnFitrarFecha:hover{
    border: none;
    background-color: #968278;
}

.btnVolverFiltro{
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #9d8076;
    text-decoration: none;
}

.msjError{
    margin-left: 30px;
    margin-top: 10px;
}

.desplegarFiltroFecha{
    display: none;
}

.desplegarFiltroSelect{
    display: none;
}


@media (max-width: 1021.33px) {
    .columnaDatos {
        width: 100%;
        margin-bottom: 20px; /* Puedes ajustar este valor según sea necesario */
    }

    .columnaBoton {
        width: 100%;
    }
}

@media only screen and (max-width: 860px) {
    .cabecera{
        padding: 0px 0px !important;
    }
}

@media only screen and (max-width: 560px) {

    .columnaDatos {
        width: 100%;
    }

    .iconCard{
        width: 100%;
    }

    .tituloConfig{
        text-align: center;
    }

    .colFechaFiltro form{
        display: block;
    }

    .desplegarFiltroFecha{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #000;
        cursor: pointer;
        display: block;
    }

    .desplegarFiltroSelect{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #000;
        cursor: pointer;
        display: block;
    }

    .filtrosReserva{
        display: block;
    }

    .colFechaFiltro form{
        display: block;
    }
    
    .colFechaFiltro form > div {
        display: block;
    }

    .btnFitrarFecha{
        width: 100%;
    }

    #formFiltroFecha{
        display: none;
    }

    #formSelectFiltro{
        display: none;
    }

}

@media only screen and (max-width: 280px) {

    .logoPlahot{
        display: none;
    }

    .columnaDatos {
        width: 100%;
    }

    .iconCard{
        width: 100%;
    }

    .tituloConfig{
        text-align: center;
    }

}